:root {
  --primary: #353377;
  --secondary: #aa7a39;
  --secondary-dark: #553201;
  --secondary-light: #ffdaa7;
  --primary-dark: #0a093b;
  --primary-light: #7f7eb2;
  --text-light: #fff;
  --text-dark: #000;
}

body {
  display: grid;
  grid-template-areas:
    "nav"
    "main";
}

#navbar {
  grid-area: "nav";
}

#main-doc {
  grid-area: "main";
}

@media screen and (min-width: 868px) {
  body {
    grid-template-areas: "nav main";
  }
}
